<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-3 left-col">
        <img class="avatar" src="../../../assets/images/hamza.jpg" alt="" srcset="">
      </div>
      <div class="col col-6 right-col">
        <h4 class="alias">chikar.hamza</h4>
        <h4 class="name">Hamza Chikar</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row title">
      <div class="col ">
        <h3>Suggestions pour vous <span>Voir tout</span></h3>
      </div>

    </div>
  </div>
</div>
