<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-3 left-col">
        <img class="avatar" src="../../../assets/images/hamza.jpg" alt="" srcset="">
      </div>
      <div class="col col-6 right-col">
        <h4 class="alias">chikar.hamza</h4>
        <h4 class="name">Hamza Chikar</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row title">
      <div class="col ">
        <h3>Suggestions pour vous <span><a href="#">Voir tout</a></span></h3>
      </div>
    </div>
    <div class="row sugst-cards" *ngFor="let element of aliasSugCard">
      <div class="col">
        <sugst-card
          [alias]="element.alias"
          [activeStorie]="element.storie"
        ></sugst-card>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p>
      <a href="">About</a>
      .
      <a href="">help</a>
      .
      <a href="">Press</a>
      .
      <a href="">API</a>
      .
      <a href="">Emplois</a>
      .
      <a href="">Confidential</a>
      .
      <a href="">Conditions</a>
      .
      <a href="">Spots</a>
      .
      <a href="">Accounts</a>
      .
      <a href="">Hashtags</a>
      .
      <a href="">language</a>

    </p>
    <h6>© 2020 INSTAFAKE BY HAMZA</h6>
  </div>
</div>
