.container{
  max-width:975px;
  .navbar{
    height: 54px ;
    padding-top: 0;
    padding-bottom: 0;
    .nav{
      .nav-item{
        .search{
          width: 210px;
          background-color:#FAFAFA;
          border: 1px solid rgba(128, 128, 128, 0.342);
          border-radius: 4px;
          input{
            width: 150px;
            height: 28px;
            padding-left:82px ;
            box-sizing: border-box;
            border-radius: 3px;
            border: 0px solid transparent;
            background-size: 16px;
          }
          input:focus {
            padding-left: 16px;
          }


        }

        .nav-link{
          padding: 0 10px 0 10px;
        }
      }
    }
  }
}
