<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col col-2">
        <a href="">
          <div class="wrapper" [class]="activeStorie?'active':''">
            <img src="../../../assets/images/user1.png" alt="" srcset="">
          </div>
        </a>
      </div>
      <div class="col col-7">
        <h4 class="alias"><a href="">{{alias}}</a></h4>
        <h4 class="sug"><a href="">Suggested for you</a></h4>
      </div>
      <div class="col col-3">
        <button class="btn btn-link">S'abonner</button>
      </div>
    </div>
  </div>
</div>
