<div class="container-xl">
  <div class="row top justify-content-center">
    <div class="col  col-lg-10 content-c">
      <div class="row content-r">
        <div class="col img-col">
          <div class="main-img">
            <img src="../../assets/images/insta-mob.png" alt="">
            <div class="slider">

            </div>
          </div>
        </div>
        <div class="col login-col">
          <div class="row sign-in">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <img src="../../assets/images/Instagram_logo.svg" alt="">
                </div>
                <div class="card-body">
                    <div class="row form-row">
                      <div class="col">
                        <form>
                          <div class="form-group">
                            <mat-form-field  class="field" appearance="outline">
                              <mat-label>Phone number, username, or email</mat-label>
                              <input matInput>
                            </mat-form-field>
                            <mat-form-field  class="field" appearance="outline">
                              <mat-label>password</mat-label>
                              <input type="password" matInput>
                            </mat-form-field>

                          </div>
                          <button type="button" class="btn btn-primary btn-block">Log In</button>
                        </form>
                      </div>

                    </div>
                    <div class="row divider justify-content-center">
                      <div class="col col-5">
                        <hr>
                      </div>
                      <div class="col col-1"><p>or</p></div>
                      <div class="col col-5">
                        <hr>
                      </div>
                    </div>
                    <div class="row opt justify-content-center">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link face" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>Log in with Facebook</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pass" href="#">Forgot password?</a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row sign-up">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p>Don't have an account?</p> <a href="#">Sign up</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row apps">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h4>Get the app</h4>
                  <ul class="nav nav-pills  nav-justified">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <img src="../../assets/images/apple.png" alt="">
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <img src="../../assets/images/android.png" alt="">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row botton">
    <div class="col">

    </div>
  </div>
</div>
