
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$instafake-primary: mat-palette($mat-indigo);
$instafake-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$instafake-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$instafake-theme: mat-light-theme((
  color: (
    primary: $instafake-primary,
    accent: $instafake-accent,
    warn: $instafake-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($instafake-theme);

/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: 'Pacifico';
  src: url(../src/assets/fonts/Pacifico-Regular.ttf);
}
@font-face{
  font-family: 'Raleway-thin';
  src: url(../src/assets/fonts/Raleway-Thin.ttf);
}
html, body { height: 100%}

html, body { height: 100%;  background-color: #FAFAFA;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; *{button,input{  outline: none;}}}
